.checked-label {
    border-style: solid !important;
    border-top: 0px !important;
    border-left: 0px;
    border-right: 0px;
    border-color: #1abc9c !important;
}

.item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover {
    height: 250px !important;
    overflow: hidden;
}

.option {
    width: 120px;
    height: 50px;
}